.Presentation {
  padding: 18px 32px 24px;
  height: 745px;
}

.SocialsAndProfilePhotoGroup {
  display: flex;
  justify-content: space-between;
}

.Socials {
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Socials a:not(:last-of-type) {
  margin-bottom: 16px
}

.ProfilePhoto {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
}

.ProfilePhotoImage {
  /* width: 100%; */
  /* max-height: 280px; */
}

.NameAndRoleGroup {
  margin-right: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.Name {
  margin-top: 48px;
  text-align: right;
  font-family: var(--font-roboto-mono);
  font-weight: 400;
  font-size: 40px;
  color: #fff;
}

.Role {
  margin-top: 8px;
  text-align: right;
  font-family: var(--font-roboto-mono);
  font-weight: 400;
  font-size: 22px;
  color: #fff;
}

.Role span {
  margin-left: 8px;
  background-image: url('/images/brush.png');
  background-repeat: no-repeat;
  background-size: 128px;
  background-position: -1px;
}

@media (max-width: 960px) {
  .SocialsAndProfilePhotoGroup {
    display: flex;
    flex-direction: column;
  }

  .Presentation {
    height: 100vh;
    padding: 16px 8px 40px 8px;
  }

  .ProfilePhoto {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .ProfilePhotoImage {
    margin: 16px 8px;
  }

  .Socials {
   display: flex;
   gap: 8px;
   flex-direction: row;
   margin-bottom: 0px;
  }

  .Name {
    font-size: 26px;
    max-width: 437px;
    margin-top: 0px;
  }

  .Role {
    font-size: 24px;
  }

  .Role, .Name {
    text-align: left;
  }

  .NameAndRoleGroup {
    align-items: flex-start;
  }

  .Role span {
    padding-left: 9px;
    background-size: 132px;
  }
}

