.Button {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 6px 16px;

  background: #EC4392;
  box-shadow: 0px 2px 13px rgba(191, 139, 164, 0.4);
  border-radius: 25px;
  font-family: var(--font-roboto-mono);
  font-weight: 400;
  font-size: 14px;
  color: #000000;
}

.Button span {
  white-space: nowrap;
  margin-left: 4px;
}