.Container {
  margin: auto;
  max-width: var(--app-max-width);
  
  margin-bottom: var(--spacing-between-sections);
}

.Container div {
  margin: auto;
  max-width: 500px;
}

.Heading {
  margin-bottom: var(--spacing-between-titles);
}

.Title {
  font-family: var(--font-roboto-mono);
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0.125em;
  text-transform: uppercase;

  color: #ffffff;
}

.Subtitle {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: var(--font-roboto-mono);
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.125em;
  text-transform: uppercase;

  color: #ffffff;
}

.Subtitle img {
  margin-left: 4px;
}

.Recommendation {
  display: flex;
  
  font-family: var(--font-roboto-mono);
  color: #EC4392;
}

.Recommendation:not(:last-of-type) {
  margin-bottom: 40px;
}

.Recommendation img {
  margin-right: 8px;
  border: 1px solid #EC4392;
  border-radius: 50%;
  padding: 1px;
  object-fit: cover;
  object-position: 20% 10%;
}

.Recommendation div p:first-of-type {
  font-size: 18px;
  font-weight: 700;
}

.Recommendation div p:nth-child(2) {
  margin-bottom: 14px;
  font-size: 14px;
  font-weight: 400;
}

.SeeMoreOnLinkedin {
  margin: auto;
  margin-top: 40px;
  width: max-content;

  display: flex;
  justify-content: center;
  align-items: center;
}

.SeeMoreOnLinkedin p {
  font-family: var(--font-roboto-mono);
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
  text-align: center;
  text-decoration: underline;
}

.SeeMoreOnLinkedin img {
  margin-top: 3px;
  margin-left: 3px;
}

@media (max-width: 960px) {
  .Title {
    font-size: 22px;
  }

  .Subtitle {
    font-size: 16px;
  }
  
  .Recommendation img {
    height: 72px;
    width: 72px;
    margin-left: 18px;
  }

  .Recommendation div p:first-of-type {
    font-size: 16px;
  }

  .Recommendation div p:nth-child(2) {
    font-size: 12px;
  }

  .SeeMoreOnLinkedin p {
    font-size: 16px;
  }
}